<template name="layout">
        <div class="maxtopbar">
            <div class="globalnav">
              <div class="nav-head">
                    <a  class="navbar-brand" href="/"><img src="/images/logo2.jpg" width="70px" margin-right="10px" margin-left="10px" margin-top="0px" alt="logo2"/></a>
                    <a href="{{pathFor 'about'}}"><li>About Us</li></a>
                    <a href="{{pathFor 'sponsors'}}"><li>Sponsors</li></a>
                    <a href="{{pathFor 'Chat'}}"><li>Chatroom</li></a>
                    <a href="{{pathFor 'listenAndSearch'}}"><li>listen and search</li></a>
                    <a href="{{pathFor 'dotaAccount'}}"><li>Account</li></a>
                    <a href="{{pathFor 'firefly'}}"><li>firefly</li></a>
                    <div id="sign">
                        <a href="/"><li>My Stats</li>
                        <li><span class="glyphicon glyphicon-log-in" ></span> Sign In </li></a>
                    </div>
               </div>
            </div>
        </div>

        <div class="maxtopmainbar">
        <div position="absolute" top="55px" width= "100%" display="table" height="130px">
            <div margin-left= "auto" margin-right="auto" position="relative" text-align="center" width="1080px" padding-left="20px">
                <span style="position: absolute;top:0px;right:20px;line-height: 30px;">
                    <a href="/"><img src="/images/zh-cn.gif" margin-right="3px"/></a>
                    <img src="images/en.gif" margin-right="3px" height="15px"/>
                    <a href="/"><img src="/images/ru.gif" margin-right="3px"/></a>
                    <a href="/"><img src="/images/ko.gif" margin-right="3px"/></a>
                </span>
                <div id="words">
                    DOTA2
                </div>
            </div>
        <div id="search-box">
            <form action="/search/" method="get">
                <div class="large-search">
                    <div id="search" >
                        <input class="large-search-text" type="text" name="q" placeholder="Search for Players, Matches, Heroes, Items..." >
                        <input type="submit" value="Go" class="large-search-btn ">
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
    
    {{> yield}}
        

</template>
